$color_text: #333;
$color_btn_normal_color: #fff;
$color_btn_normal: #24bc9c;
$color_btn_normal_hover: #0de0b4;
$color_btn_red: #d45d74;
$color_btn_red_hover: #d84864;
$color_border: #eeeeee;
$color_light_green: #1ABC9C;
$color_input_hover: #ffdb8f;

$font_normal: 12px;
$font_title_normal: 16px;
$font_title_small: 14px;
$font_title_smaller: 13px;
$font-icon: 26px;

$gap_normal: 20px;
$gap_input: 16px;
$gap_top: 8px;
$gap_short: 10px;
$gap_shorter: 3px;

$height_title: 40px;
$height_title_small: 22px;
$height_table_body: 36px;
